@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
<p>Proszę sprawdzić swój e-mail <i><b>@Model.Email</b></i>, aby potwierdzić swoje konto.</p>
}
